<nav class="navbar navbar-inverse navbar-static-top" role="navigation" >
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" style="padding-top: 0px; padding-bottom: 0px;" href="#"><img height="50" width="130" src="http://business.pinterest.com/assets/img/brand/pinterest_logo_white.png"></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/Home">Home</a></li>
				<% if current_user.nil? %>
					<li><%= link_to("Ingresar",new_user_session_path) %></li>
				<% else %>
					<li><%= link_to("Pins",pins_path) %></li>
					<li><%= link_to("Log Out",destroy_user_session_path, :method => :delete) %></li>
				<% end %>
			</ul>
		</div><!-- /.navbar-collapse -->
	</nav>