<div class="jumbotron" background="http://www.onemonth.cl/assets/home-bg-15138263676a6f1ccde03ca52a29e2a0.jpg">
  <h1>Este es el Index</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>